<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title> {% if page.title %} {{ page.title }} | {% endif %} Computer Science Academy @ Galileo</title>

    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/pygment_trac.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="/icons/favicon.ico">
	<link rel="apple-touch-icon" sizes="57x57" href="/icons/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/icons/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/icons/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/icons/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/icons/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/icons/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/icons/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/icons/apple-touch-icon-152x152.png">
	<link rel="icon" type="image/png" href="/icons/favicon-196x196.png" sizes="196x196">
	<link rel="icon" type="image/png" href="/icons/favicon-160x160.png" sizes="160x160">
	<link rel="icon" type="image/png" href="/icons/favicon-96x96.png" sizes="96x96">
	<link rel="icon" type="image/png" href="/icons/favicon-16x16.png" sizes="16x16">
	<link rel="icon" type="image/png" href="/icons/favicon-32x32.png" sizes="32x32">
	<meta name="msapplication-TileColor" content="#ffc40d">
	<meta name="msapplication-TileImage" content="/icons/mstile-144x144.png">
	<meta name="msapplication-config" content="/icons/browserconfig.xml">
  <style type="text/css">
	.navbar{
		margin-top: 20px;
	}
  </style>
</head>

<body>
  <div class="wrapper">

      <nav role="navigation" class="navbar navbar-inverse">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand">Computer Science Academy</a>
        </div>
        <!-- Collection of nav links, forms, and other content for toggling -->
        <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="/csacademy/ecs_brochure_20141209.pdf">Exploring CS <b class="caret"></b></a>
                    <ul role="menu" class="dropdown-menu">
                        <li><a href="/csacademy/ecs_brochure_20141209.pdf">About ECS</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="/csp/">CS Principles <b class="caret"></b></a>
                    <ul role="menu" class="dropdown-menu">
                        <li><a href="/csp/about.html">About CSP</a></li>
                        <li><a href="/csp/allposts.html">All posts</a></li>
                        <li><a href="/csp/postlist.html">Post list</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="/apcsa/">AP CS A <b class="caret"></b></a>
                    <ul role="menu" class="dropdown-menu">
                        <li><a href="/apcsa/about.html">About APCSA</a></li>
                        <li><a href="/apcsa/allposts.html">All posts</a></li>
                        <li><a href="/apcsa/postlist.html">Post list</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

    <header>
	  <nav>
        <h1><a href="/">Computer Science Academy</a></h1>
        <h2>Creative Problem Solving for the 21st Century</h2>
        <p><strong><a href="http://galileoweb.org">@ Galileo Academy of Science and Technology</a></strong></p>

        <hr>
        <h3><strong>
        <p><a href="/csacademy/ecs_brochure_20141209.pdf">Exploring Computer Science</a></p>
        <p><a href="/csp/">Computer Science Principles</a></p>
        <p><a href="/apcsa/">AP Computer Science A</a></p>
    	  </strong></h3>

        <!--<hr>
        <h3><strong>
        <p>
        <a href="https://piazza.com" target="_blank">Piazza</a> &nbsp;| &nbsp;<a href="https://game.classcraft.com" target="_blank">Classcraft</a> &nbsp;| &nbsp;<a href="http://ghs-sfusd-ca.schoolloop.com/" target="_blank">SchoolLoop</a>
        </p>
    	  </strong></h3>-->

        <hr>
        <h4><strong>
        <p>
        <a href="/resources/">Resources</a>
        <br>
        <a href="/csacademy/">About CSA</a>
        <!--<br>
        <a href="/tand.html">About Mr. Tan</a>-->
        </p>
		    </strong></h4>

        <!--<h2>
        <a href="https://docs.google.com/forms/d/1M6kaarDEmEnASwJDsXwHgwLjchLf4dfwJ7LPemMjXF0/viewform" target="_blank">Sign up for CSA</a>
        </h2>-->
    </nav>

    </header>
    <section>

    {{ content }}

    </section>
    <footer>
	</footer>

  </div>

<script src="javascripts/scale.fix.js"></script>
<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/bootstrap.min.js"></script>

</body>
</html>
